<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.maddin.cvagechtzeit.CVAGEchtzeit"
        android:label="@string/appName"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round" >
        <activity android:name=".MapActivity" android:exported="false" />
    </application>

</manifest>